.navbar {
  height: 80px;

  display: flex;
  align-items: center;

  position: relative;

  padding: 0 30px;
}


/* Logo */

.navbar-logo {
  width: 130px;
  height: auto;

  object-fit: contain;
}


/* Navigation pill */

.navbar-links {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  width: 470px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background: rgba(4, 18, 45, 0.9);

  border: 1px solid rgba(80, 130, 200, 0.35);

  border-radius: 25px;
}


/* Navigation links */

.navbar-links a {
  color: white;

  text-decoration: none;

  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
  font-size: 18px;

  padding: 10px 20px;

  transition: 0.2s;
}


/* Hover */

.navbar-links a:hover {
  color: #7fffff;
}


/* Active link */

.navbar-links .activeBtnCls {
  color: #7fffff;
}

.muteBtn{
  width: 50px;
  height:50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.muteBtn img{
  height: 100%;
  width: 100%;
}