@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel:ELSH@9&family=Handjet:wght,ELSH@100..900,2&display=swap');


*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #000;
}

.home {
  min-height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  position: relative;



  width: 520px;
  min-height: 250px;

  background: #000;

  border: 1px solid white;
  border-radius: 5px;

  padding: 25px 10px;

  color: white;

  font-family: monospace;
  font-size: 20px;

}

.terminal-line-span{
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.terminal-line {
  margin: 0 0 8px 0;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.terminal-line span {
  color: #7fffff;
  font-weight: bold;
}

.terminal-space {
  height: 25px;
}

.name-input {
  display: inline;

  width: 90%;

  margin: 5px 0 10px 0;

  background: transparent;

  border: none;
  outline: none;

  color: white;
  font-size: 18px;

  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;


}

.proceed-btn {
  position: absolute;

  right: 7px;
  bottom: 7px;

  padding: 7px 20px;

  border: none;

  background: #b8ffff;

  color: #111;
  cursor: pointer;

  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;

}

.proceed-btn:hover {
  background: white;
}